body {
    background-color: #228B22;
    font-family: Arial, Helvetica, sans-serif;
}

#header-nav{
    background-color:lightgreen;
    border-radius:0;
    border:0;
}

.title{
    margin:0 auto;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    text-align: center;
}

.doNotWrap {
    white-space: nowrap;
 }  

.maintext{
    width : 300px;
    height : 150px;
    color:#fff;
    position: absolute;  
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
    font-size: 44px;
}

.row > div{
    border: 0;
}


#sign {
    position: absolute;
    bottom: 0%;
    text-align: center;
    
}



.signtext {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px #222;
  }

  /********** Large devices only **********/
@media (min-width: 1200px) {
.signsize{
    font-size: 35px;

}
.sign {
    width : 60%;
    height: auto%;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .signsize{
        font-size: 30px;
    
    }
    .sign {
        width : 50%;
        height: auto%;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .signsize{
        font-size: 25px;
    
    }
    .sign {
        width : 60%;
        height: auto%;
    }
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
    .signsize{
        font-size: 20px;
    
    }
    .sign {
        width : 80%;
        height: auto%;
    }
}