body {
    background-color: #228B22;
    font-family: Arial, Helvetica, sans-serif;
}

#header-nav{
    background-color:lightgreen;
    border-radius:0;
    border:0;
}

.title{
    margin:0 auto;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    text-align: center;
}

.doNotWrap {
    white-space: nowrap;
 }  

.maintext{
    width : 300px;
    height : 150px;
    color:#fff;
    position: absolute;  
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
    font-size: 50px;
}

.row > div{
    border: 2px solid black;
}

.sign{
    position : relative;
}